<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost/example</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.connection.autocommit">true</property>
    <mapping class="com.arg.arsoft.siantluis.domains.master.EducationLevel"/>
    <mapping class="com.arg.arsoft.siantluis.domains.master.Hobby"/>
    <mapping class="com.arg.arsoft.siantluis.domains.master.Position"/>
    <mapping class="com.arg.arsoft.siantluis.domains.master.Title"/>
    <mapping class="com.arg.arsoft.siantluis.domains.employee.Education"/>
    <mapping class="com.arg.arsoft.siantluis.domains.employee.Employee"/>
    <mapping resource="Province.hbm.xml"/>
    <mapping resource="Amphur.hbm.xml"/>
    <mapping resource="Supplier.hbm.xml"/>
    <mapping resource="Customer.hbm.xml"/>
    <mapping resource="Product.hbm.xml"/>
    <mapping resource="Language.hbm.xml"/>
    <mapping resource="Children.hbm.xml"/>
    <mapping resource="EmployeeLanguage.hbm.xml"/>
    <mapping resource="Reference.hbm.xml"/>
    <mapping resource="Sibling.hbm.xml"/>
    <mapping resource="Training.hbm.xml"/>
    <mapping resource="Equipment.hbm.xml"/>
    <mapping resource="AttachmentType.hbm.xml"/>
    <mapping resource="Attachment.hbm.xml"/>
    <mapping resource="AttachmentItem.hbm.xml"/>
    <mapping resource="Reservation.hbm.xml"/>
    <mapping resource="ReservationItem.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
